
<div class="wrapper">
    <aside id="sidebar" [ngClass]="{ 'expand': isExpanded }">
      <div class="d-flex">
        <button class="toggle-btn" type="button" (click)="toggleSidebar()">
          <i class="bi bi-grip-horizontal"></i>
        </button>
        <div class="sidebar-logo">
          <a href="#">CodzSword</a>
        </div>
      </div>
      <div class="head">
        <div class="user-img">
          <img src="Library-.jpg" alt="User">
        </div>
       
      </div>
      <ul class="sidebar-nav">
        <li class="sidebar-item">
          <a [routerLink]="['/admin']"  class="sidebar-link">
            <i class="icon bi bi-speedometer2"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
            data-bs-target="#book" aria-expanded="false" aria-controls="auth">
            <i class="icon bi bi-book"></i>
            <span>View-Books</span>
          </a>
          <ul id="book" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar" style="padding-left: 25px;">
            <li class="sidebar-item">
              <a [routerLink]="['/admin/show-normal-Books']" class="sidebar-link"><i class="icon bi bi-book-half"></i>Physical Books</a>
            </li>
            <li class="sidebar-item">
              <a [routerLink]="['/admin/show-audio-Books']"  class="sidebar-link"><i class="icon bi bi-file-earmark-music-fill"></i>Audio Books</a>
            </li>
            <li class="sidebar-item">
              <a [routerLink]="['/admin/show-e-Books']"  class="sidebar-link"><i class="icon bi bi-file-earmark-pdf-fill"></i>Book-PDF</a>
            </li>
          </ul>
        </li>
        <li class="sidebar-item">
          <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
            data-bs-target="#inven" aria-expanded="false" aria-controls="auth">
            <i class="bi bi-pencil-square"></i>
            <span>Books-inventory</span>
          </a>
          <ul id="inven" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar" style="padding-left: 25px;">
            <li class="sidebar-item">
              <a [routerLink]="['/admin/add-normal-book']"  class="sidebar-link"><i class="icon bi bi-book-half"></i>Physical Books</a>
            </li>
            <li class="sidebar-item">
              <a [routerLink]="['/admin/add-audio-book']"  class="sidebar-link"><i class="icon bi bi-file-earmark-music-fill"></i>Audio Books</a>
            </li>
            <li class="sidebar-item">
              <a  [routerLink]="['/admin/add-e-book']"  class="sidebar-link"><i class="icon bi bi-file-earmark-pdf-fill"></i>Book-PDF</a>
            </li>
          </ul>
        </li>
        <li class="sidebar-item">
          <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
            data-bs-target="#auth" aria-expanded="false" aria-controls="auth">
            <i class="icon bi bi-people"></i>
            <span>Members</span>
          </a>
          <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar" style="padding-left: 25px;">
            <li class="sidebar-item">
              <a [routerLink]="['/admin/add-audio-book']"  class="sidebar-link"><i class="icon bi bi-person-check-fill"></i>Active Users</a>
            </li>
            <li class="sidebar-item">
              <a [routerLink]="['/admin/add-audio-book']"  class="sidebar-link"><i class="icon bi bi-coin"></i>Subscribed Users</a>
            </li>
            <li class="sidebar-item">
              <a [routerLink]="['/admin/add-audio-book']"  class="sidebar-link"><i class="icon bi bi-ban"></i>NonActive Users</a>
            </li>
          </ul>
        </li>
        
        <li class="sidebar-item">
          <a href="#" class="sidebar-link">
            <i class="icon bi bi-arrow-return-left"></i>
            <span>Lend</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a href="#" class="sidebar-link">
            <i class="icon bi bi-arrow-return-right"></i>
            <span>Return</span>
          </a>
        </li>
        
        <li class="sidebar-item">
          <a [routerLink]="['/admin/add-admin']" class="sidebar-link">
            <i class="icon bi bi-person-add"></i>
            <span>Create Admin</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a [routerLink]="['/admin/add-admin']" class="sidebar-link">
            <i class="icon bi bi-person-badge-fill"></i>
            <span>Profile</span>
          </a>
        </li>
        
        <li class="sidebar-item">
          <a href="#" class="sidebar-link">
            <i class="lni lni-cog"></i>
            <span>Setting</span>
          </a>
        </li>
      </ul>
      <div class="sidebar-footer">
        <a href="#" class="sidebar-link">
          <i class="icon bi bi-box-arrow-right"></i>
          <span>Logout</span>
        </a>
      </div>
    </aside>
    
    <div class="main p-3">
      
     <router-outlet></router-outlet>
    </div>
  </div>
  