<!-- <div class="container mt-5">
    <h2>Audiobooks</h2>
    <div class="row">
      <div class="col-md-4 mb-4" *ngFor="let book of audiobooks">
        <div class="card">
          <img [src]="book.coverImagePath" class="card-img-top" alt="Book Cover">
          <div class="card-body">
            <h5 class="card-title">{{ book.title }}</h5>
            <p class="card-text">{{ book.author }} - {{ book.genre }}</p>
            <button class="btn btn-primary" (click)="viewAudiobookDetails(book.id)">View Details</button>
          </div>
        </div>
      </div>
    </div>
  </div>
   -->
<!-- <h1>ddfghj</h1>
<div class="content">
  <div class="top-bar">
    <span class="bi bi-arrows-expand">expand more</span>
    <span>Now playing</span>
    <span class="bi bi-three-dots-vertical">more horizon</span>
  </div>
  <div class="image-wrapper">
    <div class="music-image">
      <img src="Library-.jpg" alt="fgs">
    </div>
  </div>
  <div class="music-titles">
    <p class="name">6 shorts gugu</p>
    <p class="artist">martine</p>
  </div>
  <div class="progress-details">
    <div class="progress-bar">
      <span></span>
    </div>
    <div class="time">
      <span class="current">0.00</span>
      <span class="final">5.30</span>
    </div>
  </div>
  <div class="control-btn">
    <span class="bi bi-arrow-repeat">repeat</span>
    <span class="bi bi-arrow-repeat">skip previes</span>
    <div class="play-pause">
      <span class="bi bi-arrow-repeat">play-arrow</span>
    </div>
    <span class="bi bi-arrow-repeat">skip next</span>
    <span class="bi bi-arrow-repeat">suffle </span>
  </div>
</div> -->



