<div class="wrapper">
  <!-- Sidebar -->
  <aside id="sidebar" [class.collapsed]="isCollapsed">
    <div class="h-100">
      <div class="sidebar-logo">
        <a href="#">Premium Library</a>
      </div>

      <ul class="sidebar-nav">
       

        <li class="sidebar-item">
          <a href="#" style="font-size: 20px; " class="sidebar-link"><i class="bi bi-house-check p-3"></i>Home</a>
        </li>

        <li class="sidebar-item">
          <a href="#" style="font-size: 20px; "
             class="sidebar-link" 
             (click)="toggleMenu('books'); $event.preventDefault()" 
             [attr.aria-expanded]="isMenuExpanded('books')"><i class="bi bi-book p-3"></i>
            Books<i class="bi bi-arrow-down-up p-4"></i>
          </a>
          <ul id="pages" style="padding-left: 24px;"
              class="sidebar-dropdown list-unstyled collapse" 
              [class.show]="isMenuExpanded('books')">
            <li class="sidebar-item">
              <a [routerLink]="['/user/view-normal-books']" class="sidebar-link"><i class="bi bi-book-half p-3"></i>Physical Books</a>
            </li>
            <li class="sidebar-item">
              <a [routerLink]="['/user/view-audio-books']" class="sidebar-link"><i class="bi bi-file-earmark-music p-3"></i>Audio Books</a>
            </li>
            <li class="sidebar-item">
              <a [routerLink]="['/user/view-e-books']" class="sidebar-link"><i class="bi bi-file-earmark-pdf p-3"></i>Book PDF</a>
            </li>
          </ul>
        </li>

        <li class="sidebar-item">
          <a [routerLink]="['/user/view-lend-records']" style="font-size: 20px; " class="sidebar-link"><i class="bi bi-journal-arrow-down p-3"></i>Lended Books</a>
        </li>
        <li class="sidebar-item">
          <a [routerLink]="['/user/view-lend-history']"  style="font-size: 20px; " class="sidebar-link"><i class="bi bi-activity p-3"></i>Activity History</a>
        </li>
        <li class="sidebar-item">
          <a href="#" style="font-size: 20px; " class="sidebar-link"><i class="bi bi-coin p-3"></i>Subscription</a>
        </li>
        <li class="sidebar-item">
          <a href="#" style="font-size: 20px; " class="sidebar-link"><i class="bi bi-bell p-3"></i>Notification</a>
        </li>

        <li class="sidebar-item">
          <a href="#" style="font-size: 20px; "
             class="sidebar-link" 
             (click)="toggleMenu('reports'); $event.preventDefault()" 
             [attr.aria-expanded]="isMenuExpanded('reports')"><i class="bi bi-bar-chart-line p-3"></i>
            Reports<i class="bi bi-arrow-down-up  p-4"></i>
          </a>
          <ul id="auth" style="padding-left: 24px;"
              class="sidebar-dropdown list-unstyled collapse" 
              [class.show]="isMenuExpanded('reports')">
            <li class="sidebar-item">
              <a href="#" class="sidebar-link"><i class="bi bi-cash-coin p-3"></i>Subscription </a>
            </li>
            <li class="sidebar-item">
              <a href="#" class="sidebar-link"><i class="bi bi-calendar-date p-3"></i>Activity </a>
            </li>
          </ul>
        </li>

        <li class="sidebar-item">
          <a href="#" style="font-size: 20px; " class="sidebar-link"><i class="bi bi-person-bounding-box p-3" ></i>Profile</a>
        </li>

        <li class="sidebar-footer mt-5">
          <a href="#" style="font-size: 20px; " class="sidebar-link"><i class="bi bi-box-arrow-left p-3 "></i>LogOut</a>
        </li>
      </ul>
    </div>
  </aside>

  
  <div class="main">
    <nav class="navbar navbar-expand px-3 border-bottom">
      <button class="btn" (click)="toggleSidebar()" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
    <main class="content px-3 py-2">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>
