
  <div class="wrapper">
    <!-- Sidebar -->
    <aside id="sidebar" [class.collapsed]="isCollapsed">
      <!-- <img src="side.jpg" style="width: 260px; height: 100%;"> -->
      <div class="h-100">
        <div class="sidebar-logo">
          <a href="#">Premium Library</a>
        </div>
        <!-- Sidebar Navigation -->
        <ul class="sidebar-nav">
          <li class="sidebar-header">Tools & Components</li>
          <li class="sidebar-item">
            <a href="#" class="sidebar-link">Home</a>
          </li>
          <li class="sidebar-item">
            <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#pages"
              aria-expanded="false" aria-controls="pages">
              Books
            </a>
            <ul id="pages" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
              <li class="sidebar-item">
                <a [routerLink]="['/user/view-normal-books']" class="sidebar-link">Physical Books</a>
              </li>
              <li class="sidebar-item">
                <a [routerLink]="['/user/view-audio-books']" class="sidebar-link">Audio Books</a>
              </li>
              <li class="sidebar-item">
                <a [routerLink]="['/user/view-e-books']" class="sidebar-link">Book PDF</a>
              </li>
            </ul>
          </li>
          
            <li class="sidebar-item">
              <a href="#" class="sidebar-link">Lended Books</a>
            </li>
            <li class="sidebar-item">
              <a href="#" class="sidebar-link">Activity History</a>
            </li>
            <li class="sidebar-item">
              <a href="#" class="sidebar-link">Subscription</a>
            </li>
            <li class="sidebar-item">
              <a href="#" class="sidebar-link">Notification</a>
            </li>
        
          <li class="sidebar-item">
            <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#auth"
              aria-expanded="false" aria-controls="auth">
              Reportss
            </a>
            <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
              <li class="sidebar-item">
                <a href="#" class="sidebar-link">Subscription Reports</a>
              </li>
              <li class="sidebar-item">
                <a href="#" class="sidebar-link">Activity Reports</a>
              </li>
            </ul>
          </li>
          <!-- <li class="sidebar-header">Multi Level Nav</li>
          <li class="sidebar-item">
            <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#multi"
              aria-expanded="false" aria-controls="multi">
              Multi Level
            </a>
            <ul id="multi" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
              <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse"
                  data-bs-target="#multi-two" aria-expanded="false" aria-controls="multi-two">
                  Two Links
                </a>
                <ul id="multi-two" class="sidebar-dropdown list-unstyled collapse">
                  <li class="sidebar-item">
                    <a href="#" class="sidebar-link">Link 1</a>
                  </li>
                  <li class="sidebar-item">
                    <a href="#" class="sidebar-link">Link 2</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li> -->
          <li class="sidebar-item">
            <a href="#" class="sidebar-link">Profile</a>
          </li>

          <li class="sidebar-footer">
            <a href="#" class="sidebar-link">LogOut</a>
          </li>
        </ul>
      </div>
    </aside>
  
    <!-- Main Component -->
    <div class="main">
      <nav class="navbar navbar-expand px-3 border-bottom">
        <!-- Button for sidebar toggle -->
        <button class="btn" (click)="toggleSidebar()" type="button">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
      <main class="content px-3 py-2">
        <div class="container-fluid">
          <router-outlet></router-outlet>
        </div>
      </main>
    </div>
    
  </div>
  
