<div class="table-container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Publish Year</th>
        <th>Language</th>
        <th>Narrator</th>
        <th>Publisher</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let element of audiobooks">
        <tr>
          <td>{{ element.id }}</td>
          <td>{{ element.title }}</td>
          <td>{{ element.author }}</td>
          <td>{{ element.genre }}</td>
          <td>{{ element.publishYear }}</td>
          <td>{{ element.language }}</td>
          <td>{{ element.narrator }}</td>
          <td>{{ element.publisher }}</td>
          <td>

            <button class="btn btn-primary" (click)="openEditDialog(element)" title="Edit AudioBook">
              <i class="bi bi-pencil"></i>
            </button>
            
            <button class="btn btn-danger" (click)="deleteAudiobook(element.id)" title="Delete AudioBook">
              <i class="bi bi-trash"></i>
            </button>

            <button class="btn btn-info" (click)="toggleRow(element.id)" title="View AudioBook">
              <i class="bi" [ngClass]="expandedElementId === element.id ? 'bi-chevron-up' : 'bi-chevron-down'"></i>
            </button>
          </td>
        </tr>

        <tr *ngIf="expandedElementId === element.id">
          <td colspan="9" class="expanded-content">
            <div>
              <p><strong>Audio File:</strong></p>
              <audio controls>
                <source [src]="resoursbase + element.filePath" />
                Your browser does not support the audio element.
              </audio>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

<!-- Pagination -->
<mat-paginator
  [length]="totalItems"
  [pageSize]="pageSize"
  [pageSizeOptions]="[10, 17, 25, 50]"
  showFirstLastButtons
  (page)="onPageChange($event)"
>
</mat-paginator>
