.btn {
  font-size: 1rem;
  padding: 0.75rem 1.5rem; 
  border-radius: 0.25rem;
  transition: background-color 0.3s, transform 0.2s;
  margin: 0 10px; 
}

.btn-success {
  background-color: #c69bbf;
  border-color: #28a745;
}

.btn-success:hover {
  background-color: #218838;
}

.btn-primary {
  background-color: #a9699f;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-danger {
  background-color: #71065f;
  border-color: #dc35c0;
}

.btn-danger:hover {
  background-color: #f00b0b;
}

.btn:active {
  transform: scale(0.98);
}

.action-buttons {
  display: flex;
  gap: 20px; 
  justify-content: center;
 
}

.table tbody tr:hover {
  background-color: #f1f1f1;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.table thead th {
  background-color: #8d377e !important;
  color: white !important;
  text-align: center;
}

.table thead {
  border-radius: 5px;
}

.table-bordered th, 
.table-bordered td {
  border: 1px solid #ddd;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(169, 105, 159, 0.1); /* Light shade for striped effect */
}

.table thead th:first-child {
  border-top-left-radius: 5px;
}

.table thead th:last-child {
  border-top-right-radius: 5px;
}
