<form (ngSubmit)="onAdminLogin()" #adminLoginForm="ngForm">
    <h3>Admin Login</h3>
  
    <div>
      <label for="username">Username</label>
      <input 
        type="text" 
        placeholder="Enter your username" 
        id="username" 
        name="username" 
        [(ngModel)]="adminLoginRequest.emailOrNic" 
        required>
    </div>
  
    <div>
      <label for="password">Password</label>
      <input 
        type="password" 
        placeholder="Enter your password" 
        id="password" 
        name="password" 
        [(ngModel)]="adminLoginRequest.password" 
        required>
    </div>
  
    <button type="submit" class="abc" [disabled]="adminLoginForm.invalid">Log In</button>
  </form>
  
  <div *ngIf="errorMessage" class="error">
    {{ errorMessage }}
  </div>
  