<!-- Admin Login Form -->
<div class="admin-login-container">
  <form (ngSubmit)="onAdminLogin()" #adminLoginForm="ngForm">
    <div class="form-header">
      <h3>Admin Login</h3>
      <!-- Close button -->
     
    </div>

    <div>
      <label for="username">Username</label>
      <input 
        type="text" 
        placeholder="Enter your username" 
        id="username" 
        name="username" 
        [(ngModel)]="adminLoginRequest.emailOrNic" 
        required>
    </div>

    <div>
      <label for="password">Password</label>
      <input 
        type="password" 
        placeholder="Enter your password" 
        id="password" 
        name="password" 
        [(ngModel)]="adminLoginRequest.password" 
        required>
    </div>

    <button type="submit" class="abc" [disabled]="adminLoginForm.invalid">Log In</button>
    <button type="button" style="padding: 0;" class="btn-close" aria-label="Close" (click)="closeForm()">Close</button>
  </form>

  <div *ngIf="errorMessage" class="error">
    {{ errorMessage }}
  </div>
</div>
