
.lock-screen-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100%;
  color: white;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

.custom-dialog-container {
  background-color: #c0afaf !important;
}

.clock {
  font-size: 6rem; /* Large clock */
  font-weight: bold;
}

.date {
  font-size: 2rem;
  margin-top: 5px;
}

.lock-message {
  
  padding: 30px;
  border-radius: 15px;

  width: 100%;
}

mat-form-field {
  width: 100%;
}

button {
  margin-top: 10px;
  width: 100%;
  font-size: 1.2rem;
  padding: 10px;
}


@media (max-width: 768px) {
  .clock {
    font-size: 4rem;
  }
  .date {
    font-size: 1.5rem;
  }
  .lock-message {
    padding: 20px;
  }
}






.lock-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgba(196, 14, 14, 0.7); /* Semi-transparent background */
  color: white;
}
