<!-- Search Bar -->
<div class="search-bar-container">
  <input 
    type="text" 
    [(ngModel)]="searchQuery" 
    
    placeholder="Search eBooks by title or author..." 
    class="form-control"
  />
</div>
<div class="grid-container scroll-container">
  <div class="grid-item" *ngFor="let ebook of ebooks" (click)="openEbookModal(ebook)">
    <img 
      [src]="resoursBase + ebook.coverImagePath" 
      alt="{{ ebook.title }}" 
      (error)="onImageError($event)" 
    />

    <h3>{{ ebook.title }}</h3>
    <p>Author: {{ ebook.author }}</p>
  </div>
</div>

<div *ngIf="ebooks.length === 0" class="no-ebooks">
  <p>No eBooks available. Please check back later.</p>
</div>

<!-- Pagination -->
<mat-paginator
  [length]="totalItems"
  [pageSize]="pageSize"
  [pageSizeOptions]="[2,5,10, 25, 50, 100]"
  showFirstLastButtons
  (page)="onPageChange($event)"
></mat-paginator>


<!-- Modal eBook -->
<div class="modal" [class.show]="isModalOpen" >
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>{{ selectedEbook?.title }}</h2>
    <p><strong>Author:</strong> {{ selectedEbook?.author }}</p>
    <p><strong>Genre:</strong> {{ selectedEbook?.genre }}</p>
    <p><strong>Publisher:</strong> {{ selectedEbook?.publisher }}</p>
    <p><strong>Publish Year:</strong> {{ selectedEbook?.publishYear }}</p>
    
    <div class="pdf-viewer">
      <iframe [src]="sanitizedUrl" width="100%" height="600px"></iframe>
    </div>
   
    <!-- Thumbs Up, Thumbs Down, and Comment Buttons -->
    <div class="d-flex justify-content-start align-items-center gap-3 mt-4 flex-wrap">
      <button style="background-color:#7e60bf75; color: white; border: none;"
        class="btn btn-outline-dark d-flex align-items-center"
        [ngClass]="{ 'text-primary': isThumbsUp }"
        (click)="toggleThumbsUp();  like_or_dislikeAudiobook(true);"
      >
        <i class="bi bi-hand-thumbs-up-fill me-2"></i>
      </button>
      <span class="ms-1">{{likeCount}}</span>

      <button style="background-color:#7e60bf75; color: white; border: none;"
        class="btn btn-outline-dark d-flex align-items-center"
        [ngClass]="{ 'text-primary': isThumbsDown }"
        (click)="toggleThumbsDown(); like_or_dislikeAudiobook(false);"
      >
        <i class="bi bi-hand-thumbs-down-fill me-2"></i>
      </button>
      <span class="ms-1">{{dislikeCount}}</span>

      <button style="background-color:#7e60bf75; color: white; border: none;"
        class="btn btn-outline-dark d-flex align-items-center"
        (click)="toggleCommentBox()"
      >
        <i class="bi bi-chat-right-text-fill me-2"></i>
      </button>
      <span class="ms-1">{{reviews.length}}</span>
    </div>

    <!-- Comment Box and Container -->
    <div *ngIf="showCommentBox">
      <!-- Comment Text Box -->
      <div class="w-100 mt-3 d-flex" style="max-width: 600px;">
        <textarea
          class="form-control mb-2 flex-grow-1"
          rows="2"
          placeholder="Add a comment..."
       [(ngModel)]="reviewText"
        ></textarea>
        <button class="btn btn-primary" (click)="submitEbookReview()">Post</button>
      </div>

      <!-- Container with Comments Section -->
      <div class="comments-container">


        <div *ngFor="let review of reviews" class="comment-card mt-3">
          <div class="d-flex justify-content-between align-items-center">
            <div class="user d-flex flex-row align-items-center">
               <img
            [src]="resoursBase + review.userProfil"
            width="30"
            class="user-img rounded-circle mr-2"
          />
              <span>
                <small class="font-weight-bold text-primary">{{review.userName}}</small>
                <br>
                <small class="font-weight-bold">{{review.reviewText}}</small>
              </span>
            </div>
            <small>{{ review.reviewDate | timeAgo }}</small>

          </div>
        </div>

      </div>
    </div>

  </div>
  
</div>


