/* General Table Styling */
.table {
<<<<<<< HEAD
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
    font-size: 20px;
  }
  
  .expanded-content {
    background-color: #f9f9f9;
    padding: 10px;
    border-top: 1px solid #ddd;
  }
  
  .additional-info-table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
  }
  
  .additional-info-table td {
    padding: 8px;
    border: 1px solid #ccc;
  }
  
  .additional-info-table td:first-child {
    font-weight: bold;
=======
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 8px 12px;
  border: 1px solid #ddd;
  text-align: center;
  vertical-align: middle;
}

.table-bordered th {
  background-color: #9c7496;
  color: white;
  text-transform: uppercase;
}

.table-hover tbody tr:hover {
  background-color: rgba(156, 116, 150, 0.1); /* Light hover effect */
}

/* Expanded Content Styling */
.expanded-content {
  background-color: #fdf6f9;
  padding: 15px;
  border-top: 2px solid #9c7496;
}

.additional-info-table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}

.additional-info-table td, .additional-info-table th {
  padding: 8px;
  border: 1px solid #ccc;
}

.additional-info-table td:first-child {
  font-weight: bold;
}

/* Button Styling */
.buttons {
  background-color: #9c7496 !important;
  color: white !important;
  border: none;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 4px;
}

.buttons:hover {
  background-color: #ad3b98 !important;
}

/* Progress Bar Styling */
progress {
  width: 100%;
  height: 10px;
  border-radius: 5px;
  -webkit-appearance: none;
  appearance: none;
  background-color: #f0f0f0;
}

progress::-webkit-progress-bar {
  background-color: #f0f0f0;
}

progress::-webkit-progress-value {
  background-color: #611555;
  border-radius: 5px;
}

progress::-moz-progress-bar {
  background-color: #9c7496;
  border-radius: 5px;
}

/* Responsive Table */
.table-responsive {
  max-height: 70vh;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .table-container {
    overflow-x: auto;
>>>>>>> 693afad9ee2ab83629174a5c95b801506bce82de
  }

  .table th, .table td {
    font-size: 14px;
    padding: 6px 8px;
  }

  .btn-info, .btn-secondary, .btn-danger, .btn-primary {
    font-size: 10px;
    padding: 4px 8px;
  }
}
