.table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
    font-size: 20px;
  }
  
  .expanded-content {
    background-color: #f9f9f9;
    padding: 10px;
    border-top: 1px solid #ddd;
  }
  
  .additional-info-table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
  }
  
  .additional-info-table td {
    padding: 8px;
    border: 1px solid #ccc;
  }
  
  .additional-info-table td:first-child {
    font-weight: bold;
  }

  .table-container {
    margin: 20px 0;
  }
  
  .mat-paginator {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
  }
  
  
  td {
    text-align: center; /* Center-align the content in the table cell */
    vertical-align: middle;
  }
  
  progress {
    width: 100%; /* Make the progress bar take the full width of the parent container */
    height: 10px; /* Set the height of the progress bar */
    border-radius: 5px; /* Round the corners */
    -webkit-appearance: none; /* Remove default styling on WebKit-based browsers */
    appearance: none; /* Remove default styling on other browsers */
    background-color: #f0f0f0; /* Light gray background for the progress bar */
  }
  
  progress::-webkit-progress-bar {
    background-color: #f0f0f0; /* Set the background of the progress bar */
  }
  
  progress::-webkit-progress-value {
    background-color: #7e076a; /* Green color for the progress */
    border-radius: 5px; /* Rounded corners for the filled area */
  }
  
  progress::-moz-progress-bar {
    background-color: #7e076a; /* Green color for Mozilla Firefox */
    border-radius: 5px;
  }
  
  