<p class="text-center mt-4">Book Management</p>
<div class="container mt-3">

  <div class="table-container"
    style="overflow: auto; max-width: 100%; max-height: 800px; border: 1px solid #ddd; border-radius: 5px;">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>ISBN</th>
          <th>Title</th>
          <th>Author</th>
          <th>Genre</th>
          <th>Publish Year</th>
          <th>Shelf Location</th>
          <th>Total Copies</th>
          <th>Available Copies</th>
          <th>Image</th>
          <th>View All copies</th>
          <th>Add</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      
      <tbody>
        <!-- Main rows -->
        <ng-container *ngFor="let Nbook of Nbooks">
          <tr>
            <th>{{Nbook.id}}</th>
            <th>{{Nbook.isbn}}</th>
            <th>{{Nbook.title}}</th>
            <th>{{Nbook.author}}</th>
            <th>{{Nbook.genre[0]}}</th>
            <th>{{Nbook.publishYear}}</th>
            <th>{{Nbook.shelfLocation}}</th>
            <th>{{Nbook.totalCopies}}</th>
            <th>{{Nbook.availableCopies}}</th>
            <th>Image</th>
            <td>
              <button (click)="toggleRow(Nbook.id)">
                {{ expandedElementId === Nbook.id ? 'Hide' : 'View' }}
              </button>
            </td>
            <td> <button class="btn btn-success" (click)="addNewBook()">
                <i class="bi bi-plus-circle"></i> Add
              </button>
            </td>
            <td>
              <button class="btn btn-primary" (click)="openEditDialog(Nbook)">
                <i class="bi bi-pencil"></i> Edit
              </button>
            </td>
            <td>
              <button class="btn btn-danger" (click)="deleteMainBook(Nbook.id)">
                <i class="bi bi-trash"></i> Delete
              </button>
            </td>

          </tr>

          <!-- Expanded row -->
          <tr *ngIf="expandedElementId === Nbook.id">
            <td colspan="9">
              <div class="expanded-content">
                <h4>Additional Information</h4>
                <table class="additional-info-table">
                  <tr>
                    <td class="border" ><strong>Book Id</strong></td>
                    <td class="border"><strong>Is Available:</strong></td>
                    <td class="border"><strong>Condition:</strong></td>
                    <td class="border"><strong>Last Rent</strong></td>
                    <td class="border"><strong>Edit</strong></td>
                    <td class="border"><strong>Delete</strong></td>

                  </tr>
                  <!-- 
                  <tr *ngfor="let nbook of Nbook.bookCopies">
                    <td>{{nbook.copyId}}</td>
                    <td>{{nbook.isAvailable}}</td>
                    <td>{{nbook.condition}}</td>
                    <td>{{nbook.lastBorrowedDate}}</td>
                    <td>
                      <button class="btn btn-primary" onclick="editItem()">
                        <i class="bi bi-pencil"></i> Edit
                      </button>
                    </td>
                    <td>
                      <button class="btn btn-danger" onclick="deleteItem()">
                        <i class="bi bi-trash"></i> Delete
                      </button>
                    </td>
                  </tr> -->

                  <tr *ngFor="let nestedRow of Nbook.bookCopies" class="">
                    <td class="border">{{nestedRow.copyId}}</td>
                    <td class="border">{{nestedRow.isAvailable}}</td>
                    <td class="border">{{nestedRow.condition}}</td>
                    <td class="border">{{nestedRow.lastBorrowedDate}}</td>
                    <td class="border">
                      <button class="btn btn-primary" onclick="editItem()">
                        <i class="bi bi-pencil"></i> Edit
                      </button>
                    </td>
                    <td class="border">
                      <button class="btn btn-danger" (click)="deleteItem(nestedRow.copyId)">
                        <i class="bi bi-trash"></i> Delete
                      </button>
                    </td>
                  </tr>
      
                </table>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>

  </div>
</div>