<div class="static_bar_container">
  <div class="static-bar">
    <!-- Left Section -->
    <div class="left-content">
      <span>Hello, <strong>Name</strong></span>

    </div>

    <!-- Right Section -->
    <div class="profile">
      <div class="notification">
        <!-- <i class="bell-icon">🔔</i> -->
        <i class="bi bi-bell-fill" style="color: purple;"></i>
        <span class="notification-badge">3</span>
      </div>
      <span>Profile</span>
      <!-- <img src="https://via.placeholder.com/40" alt="Profile Picture"> -->
      <i class="bi bi-person-circle" style="color: black; margin-left: 10px;"></i>
    </div>
  </div>


</div>

<!-- Trendings -->

<div class="trendings">
  <div class="section-trendings">
    <div class="wrapper-trending-items">
      <!-- Header Section -->
      <header class="header-trendings">
        <h1 class="headline-trendings">
          Most Trendings <span class="icon-trending"></span>
        </h1>
        <nav class="navigation-trendings">

          <!-- <a routerLink="audio-books" routerLinkActive="active-link" class="nav-item active-trending" (click)="changeAudio()">Popular Audio Books</a>
          <a routerLink="normal-books" routerLinkActive="active-link" class="nav-item" (click)="changeNormal()">Most Viewed Books</a>
          <a routerLink="e-books" routerLinkActive="active-link" class="nav-item" (click)="changeEbook()">Trending Lendings</a> -->

          <!-- <a routerLink="audio-books" routerLinkActive="active-link" [class.active-trending]="selectedTab === 'audio'"
            class="nav-item" (click)="changeAudio()">
            Popular Audio Books
          </a>

          <a routerLink="normal-books" routerLinkActive="active-link" [class.active-trending]="selectedTab === 'normal'"
            class="nav-item" (click)="changeNormal()">
            Most Viewed Books
          </a>

          <a routerLink="e-books" routerLinkActive="active-link" [class.active-trending]="selectedTab === 'ebook'"
            class="nav-item" (click)="changeEbook()">
            Trending Lendings
          </a> -->

          <a routerLink="audio-books" routerLinkActive="active-trending" class="nav-item">
            Popular Audio Books
          </a>

          <a routerLink="normal-books" routerLinkActive="active-trending" class="nav-item">
            Most Viewed Books
          </a>

          <a routerLink="e-books" routerLinkActive="active-trending" class="nav-item">
            Trending Lendings
          </a>

        </nav>
      </header>


      <!-- Cards Section -->

      <router-outlet></router-outlet>


      <!-- new dashboard -->

      <div class="container my-5">
        <!-- Dashboard Header -->

        <!-- Statistics Cards -->

        <h1 style="color: rgb(86, 3, 68);" id="Heading">User Details</h1>

        <div class="main_card">
          <div class="sub_card" id="user_count">
            <div class="icon">
              <i class="bi bi-person-bounding-box" id="user_icon"></i>
            </div>
            <div class="detals">
              <h2>{{totalUsers}}</h2>
              <p>All Users</p>
            </div>
          </div>
          <div class="sub_card" id="active_count">
            <div class="icon">
              <i class="bi bi-person-fill-check"></i>
            </div>
            <div class="detals">
              <h2>{{activeUsers}}</h2>
              <p>Active Users</p>
            </div>
          </div>
          <div class="sub_card" id="average_count">
            <div class="icon">
              <i class="bi bi-person-fill-x"></i>
            </div>
            <div class="detals">
              <h2>{{NonActiveUsers}}</h2>
              <p>Non Active</p>
            </div>
          </div>
          <div class="sub_card" id="primier_count">
            <div class="icon">
              <i class="bi bi-check2-circle"></i>
            </div>
            <div class="detals">
              <h2>{{Subscribed}}</h2>
              <p>Subscribed Users</p>
            </div>
          </div>

        </div>

        <div class="user_charts">
          <!-- Bar Chart Section -->
          <div class="card shadow-sm mb-4 border-light rounded">
            <div class="cardbody">
              <h5 class="cardtitle text-center text-dark">User Counts</h5>
              <ngx-charts-bar-vertical [view]="[700, 400]" [results]="barData" [xAxis]="true" [yAxis]="true"
                [legend]="true" [xAxisLabel]="'Days'" [yAxisLabel]="'Sales'" [animations]="true"
                class="chart-container">
              </ngx-charts-bar-vertical>
            </div>
          </div>

          <!-- Pie Chart Section -->

          <div class="card shadow-sm mb-4 border-light rounded" id="pie_chart">
            <div class="cardbody">
              <h5 class="cardtitle text-center text-dark">User Details</h5>
              <ngx-charts-pie-chart [view]="[500, 400]" [results]="pieData" [legend]="true" [doughnut]="true"
                [labels]="true" class="chartcontainer">
              </ngx-charts-pie-chart>
            </div>
          </div>

        </div>